/cat_3.jpg
/.ipynb_checkpoints
/__pycache__
dataset/test
dataset/train
dataset/validation
weights/model_weights.pth
/components/__pycache__
components/__pycache__/up_block.cpython-311.pyc
components/__pycache__/patch_discriminator.cpython-311.pyc
components/__pycache__/generator_net.cpython-311.pyc
components/__pycache__/down_block.cpython-311.pyc
cat_3_predicted.png
